*{
    margin: 0;
}
body{
    position: relative;
}
.header{
    background-color: darkturquoise;
    height: 40px;
    width: 100%;
    position: fixed;
    box-sizing: border-box;
    z-index: 2;
    line-height: 40px;
}
.nav-list{
    margin: 0;
    display: flex;
}
.nav-item{
    display: block;
    margin: 0 0 0 16px;
    color: white;
    height: 100%;
}
.content{
    height: 5000px;
    width: 100%;
    background-color: beige;
    position: relative;
  
}
.head{
    position: absolute;
    height: 200px;
    width: 200px;
    top: calc( 10% - 100px );
    left: calc(50% - 100px );
    background-color: aquamarine;
    z-index: 1;
}
.ear{
    width: 40px;
    height: 60px;
}
.eye{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 80px 40px 0 40px;
    background-color: gray;
  
}
.ear_right{
    position: absolute;
    bottom:calc(100% + 0px);
    left: calc(100% + 0px);
    background-color: brown;
}
.ear_left{
    position: absolute;
    bottom:calc(100% + 0px);
    right: calc(100% + 0px);
    background-color: brown;
    
}
.eye_right{
    right: 0;
}
