
body{
    position: relative;
}
.header{
    background-color: darkturquoise;
    height: 40px;
    width: 100%;
    position: fixed;
    z-index: 100;
}
.nav-list{
    margin: 0;
}
.nav-item{
    line-height: 40px;
    display: inline;
    margin: 0 0 0 16px;
    color: white;
}
.content{
    height: 5000px;
    width: 100%;
    background-color: beige;
  
}
.head{
    position: relative;
    height: 200px;
    width: 200px;
    top: calc( 30% - 50px );
    left: calc(50% - 50px );
    background-color: aquamarine;
}
.ear{
    width: 40px;
    height: 60px;
}
.eye{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 80px 40px 0 40px;
    background-color: gray;
  
}
.ear_right{
    position: absolute;
    bottom:calc(100% + 0px);
    left: calc(100% + 0px);
    background-color: brown;
}
.ear_left{
    position: absolute;
    bottom:calc(100% + 0px);
    right: calc(100% + 0px);
    background-color: brown;
    
}
.eye_right{
    right: 0;
}




