*{
  box-sizing: border-box;
}
header{
  text-align: center;
}

.articles-list{
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
 }
.article{
  margin: 8px;
  padding: 16px;
  flex-basis: 10%;
  min-width: 300px;
  background-color: bisque;
  box-sizing: border-box;
  flex-grow: 1;
}
