*{
  box-sizing: border-box;
}
header{
  text-align: center;
}

.articles-list{
  display: flex;
  flex-wrap: wrap;
}

.article{
   width: 300px;
   margin: 8px;
  padding: 16px;
  min-width: 300px;
  background-color: bisque;
  box-sizing: border-box;
  flex-grow: 1;
}
