.pink{
  padding-bottom: 0px;
  height: 100px;
  margin: 50px;  
  background-color:pink;
  
}
.green{
  height: 200px;
  margin: 50px;
  background-color: green;
 
}
.yellow{
  height: 300px;
  margin: 50px;
  background-color: yellow;
 
}
.blue{
  height: 400px;
  
  background-color: blue;
  margin: 50px;
  
}
div{
 padding-bottom: 0px;
  border:2px solid black;
}
