.header{
    height: 50px;
    width: 100%;
    background-color: yellow; 
    box-sizing: border-box;
    clear: both;
}
.footer{
    height: 50px;
    width: 100%;
    background-color: green;
     box-sizing: border-box;
    clear: both;
}
.content{
    width: 80%;
    background-color: pink;
    height: 500px;
    float: left;
    box-sizing: border-box;
}
.sidebar{
    width: 20%;
    background-color: grey;
    height: 500px;
    float: left;
    box-sizing: border-box;
}
